.iml
.gradle
./idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml